@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-Bold.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-ExtraBoldItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-Black.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-BlackItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-BoldItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-ExtraBold.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-Light.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-Regular.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-MediumItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-LightItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-Italic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-Medium.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-ExtraLightItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-ExtraLight.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-SemiBold.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-SemiBoldItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-ThinItalic.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argentum Sans";
    src: url("../../public/fonts/argentum/ArgentumSans-Thin.woff2") format("woff2"),
        url("../../public/fonts/argentum/ArgentumSans-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
