@font-face {
    font-family: "Asgard";
    src: url("../../public/fonts/asgard/Asgard-WideXlight.woff2") format("woff2"), url("../../public/fonts/asgard/Asgard-WideXlight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
