
@font-face {
    font-family: "Cotoris";
    src: url("../../public/fonts/cotoris/Cotoris.woff2") format("woff2"), url("../../public/fonts/cotoris/Cotoris.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cotoris";
    src: url("../../public/fonts/cotoris/CotorisBold.woff2") format("woff2"), url("../../public/fonts/cotoris/CotorisBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cotoris";
    src: url("../../public/fonts/cotoris/CotorisItalic.woff2") format("woff2"), url("../../public/fonts/cotoris/CotorisItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cotoris";
    src: url("../../public/fonts/cotoris/CotorisHeavy.woff2") format("woff2"), url("../../public/fonts/cotoris/CotorisHeavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
