.circle {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;

    z-index: 7;
    pointer-events: none;

    -webkit-transition: all 0.15s ease-in-out, left 0ms, top 0ms;
    -moz-transition: all 0.15s ease-in-out, left 0ms, top 0ms;
    -o-transition: all 0.15s ease-in-out, left 0ms, top 0ms;
    transition: all 0.15s ease-in-out, left 0ms, top 0ms;

    &.click {
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
    }
    &.hovering {
        background-color: rgb(0, 0, 0);
        transform: scale(0.3);
    }
}
.circle.white {
    background-color: rgba(255, 255, 255, 0.2);

    &.click {
        background-color: rgba(255, 255, 255, 0.3);
    }
    &.hovering {
        background-color: rgb(255, 255, 255);
    }
}

.dot {
    position: absolute;
    background-color: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;

    -webkit-transition: all 0.15s ease-in-out, left 0ms, top 0ms;
    -moz-transition: all 0.15s ease-in-out, left 0ms, top 0ms;
    -o-transition: all 0.15s ease-in-out, left 0ms, top 0ms;
    transition: all 0.15s ease-in-out, left 0ms, top 0ms;

    z-index: 8;
    pointer-events: none;
}
.dot.white {
    pointer-events: none;
    background-color: white;
}
