.loading {
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    z-index: 1000;

    overflow: hidden;

    .text {
        font-family: "Cotoris";
        font-weight: bolder;
        font-size: 30.5vw;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        color: rgb(180, 180, 180);
    }
}
