.about {
    padding-top: fsize(90px);
    padding-bottom: fsize(90px);

    hr {
        width: 74vw;
        margin: auto;
        margin-top: fsize(85px);
        margin-bottom: fsize(85px);

        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .bio {
        text-align: center;

        h1 {
            font-weight: 200;
            font-size: fsize(42px);
            line-height: fsize(52px);
            letter-spacing: 2px;

            b {
                font-weight: 700;
            }

            overflow: hidden;
        }

        h2 {
            width: 50vw;
            margin: auto;
            margin-top: fsize(34px);

            font-weight: 400;
            font-size: fsize(29px);
            line-height: fsize(28px);

            span {
                font-size: fsize(26px);
            }

            overflow: hidden;
        }

        .bio-p {
            width: 52vw;
            margin: auto;
            margin-top: fsize(60px);

            p {
                font-weight: 300;
                font-size: fsize(21px);
                line-height: fsize(30px);

                color: #979797;

                overflow: hidden;
            }
            p:nth-child(2) {
                margin-top: fsize(32px);
            }
        }
    }

    .skillset {
        position: relative;
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .list {
                position: relative;
                text-align: center;
                margin-left: 8vw;
                margin-right: 8vw;

                h2 {
                    font-size: fsize(22px);
                    letter-spacing: 0.08em;
                    font-weight: 400;

                    color: #5a5a5a;
                }

                p {
                    font-size: fsize(27px);
                    line-height: fsize(34px);
                    font-weight: 800;

                    margin-top: fsize(30px);

                    span {
                        font-weight: 200;
                        margin-left: 0.25em;
                        margin-right: 0.2em;
                    }

                    overflow: hidden;
                }
            }
            .list::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -6vh;
                width: 100%;
                height: 1vh;
                background-image: linear-gradient(rgba(255, 255, 255, 0), white);
                z-index: 2;
                pointer-events: none;
            }
        }
        .row:nth-child(1) {
            .list {
                p {
                    width: fsize(400px);
                }
            }
        }
        .row:nth-child(2) {
            margin-top: fsize(40px);

            .list {
                p {
                    width: fsize(500px);
                }
            }
        }

        img {
            position: absolute;
            z-index: -1;
            max-width: 74vw;

            left: 50%;
            transform: translateX(-50%);
        }
    }

    .work {
        text-align: center;

        h1 {
            font-size: fsize(22px);
            letter-spacing: 0.08em;
            font-weight: 400;

            color: #5a5a5a;

            overflow: hidden;
        }

        .job {
            margin: fsize(60px);
            p {
                font-weight: 400;
                font-size: fsize(23px);

                b {
                    font-weight: 500;
                }
            }

            li {
                font-weight: 400;
                font-size: fsize(23px);
            }

            overflow: hidden;
        }
    }

    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-top: fsize(80px);
        margin: auto;
        width: 20vw;
        cursor: none;

        transition: 0.4s;
        &:hover {
            transform: scale(1.05);
        }

        div {
            padding: 0;
            margin: 0;
            width: 20vw;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        p {
            margin-left: fsize(22px);
            font-weight: 700;
            font-size: fsize(22px);
        }

        .circle {
            position: relative;
            background-color: rgb(15, 15, 15);
            width: fsize(50px);
            height: fsize(50px);

            img {
                width: fsize(30px);
                position: absolute;

                left: 50%;
                top: 50%;

                transform: translateX(-50%) translateY(-50%);
            }
        }

        overflow: hidden;
    }
}
