.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin-top: fsize(-150px);

        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            height: 5.4em;

            h1 {
                font-family: Cotoris;
                font-style: italic;
                font-size: fsize(78px);
                letter-spacing: 2px;

                padding: 3px;

                overflow: hidden;
                div {
                    padding: 0;
                    margin: 0;
                }
            }

            .lineContainer {
                overflow-y: hidden;
                padding-top: 20px;
                padding-bottom: 20px;

                .line {
                    height: fsize(38px);

                    background: linear-gradient(90deg, rgba(37, 37, 37, 1) 0%, rgba(77, 77, 77, 1) 100%);
                    border-radius: 100px;

                    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.25);
                }
            }

            &:nth-child(1) {
                .lineContainer {
                    padding-right: 40px;

                    .line {
                        width: 13vw;
                        margin-left: 3em;
                    }
                }
            }
            &:nth-child(2) {
                .line {
                    width: 22vw;
                    margin-right: 2em;
                }
            }
            &:nth-child(3) {
                .lineContainer {
                    padding-right: 40px;

                    .line {
                        width: 20.2vw;
                        margin-left: 3em;
                    }
                }
            }
        }
    }

    .bio {
        margin-top: fsize(95px);
        width: 65vw;
        height: 10vh;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        svg {
            width: 10px;

            margin-right: 3em;
        }

        p {
            font-style: normal;
            font-weight: 300;
            font-size: fsize(18px);
            line-height: fsize(50px);

            color: #524e4e;

            span {
                font-size: fsize(12px);
            }
        }
    }

    .heroArrow {
        svg {
            width: 110px;
            height: 150px;

            position: absolute;
            left: 50%;

            transform: translateX(-50%) scale(0.92);
        }
    }

    .sideLine {
        position: absolute;
        right: calc($pageMargins - 0.5em);
        bottom: 2em;

        p {
            transform: rotateZ(-90deg);
            margin: 0;
            padding: 0;
        }
    }
}
