.projects {
    padding-top: fsize(120px);
    z-index: 1;

    .projectMain {
        position: relative;

        width: 92vw;
        height: 69vh;

        margin: auto;

        background: linear-gradient(101.01deg, rgba(34, 31, 31, 0.7) 14.93%, rgba(0, 0, 0, 0) 100%),
            linear-gradient(99.68deg, #000000 42.27%, #c0c0c0 306.66%);

        border-radius: 9px;

        .carousel {
            max-height: 69vh;

            .carousel__slider {
                max-height: 69vh;
            }

            .carousel__slide-focus-ring {
                outline: none !important;
                appearance: none;
            }
        }
    }
    .projectMain::before {
        content: "";
        background-image: linear-gradient(101.01deg, rgba(34, 31, 31, 0.7) 14.93%, rgba(0, 0, 0, 0) 100%),
            url("/images/grid_bg.png");
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.02;
    }

    .projectsNav {
        position: absolute;
        z-index: -1;

        width: 68vw;
        height: 33vh;

        bottom: -15vh;
        right: -4vw;

        background: #0f0e0e;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: fsize(70px);

        button {
            background-color: transparent;
            border: none;
            cursor: none;

            height: fit-content;
        }

        .control {
            margin-top: fsize(180px);
        }

        .buttons {
            padding-left: fsize(90px);

            button:nth-child(1) {
                transform: rotateZ(180deg);
                transform: rotateY(180deg);

                margin-right: fsize(100px);
            }
        }

        .dots {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .nav_dot:not(:last-child) {
                margin-right: fsize(20px);
            }

            .nav_dot {
                position: relative;
                width: 2em;
                height: 2em;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                div {
                    position: absolute;
                    top: 7px;
                }
            }
        }
    }

    .carousel__inner-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        max-height: 69vh;
    }

    .slideContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        padding-left: fsize(100px);

        color: white;

        .description {

            h1 {
                font-size: fsize(55px);
                font-weight: 200;
                letter-spacing: 3px;
                b {
                    font-weight: 700;
                }

                padding: 0;
                margin: 0;

                overflow: hidden;
            }

            h2 {
                font-size: fsize(21px);
                margin-top: fsize(40px);

                letter-spacing: 1px;
                font-weight: normal;

                div {
                    float: left;
                    margin-right: fsize(10px);
                }

                overflow: hidden;
            }

            p {
                font-size: fsize(16px);
                width: fsize(600px);
                margin-top: fsize(20px);

                line-height: 24px;

                overflow: hidden;
            }
        }

        img {
            max-width: 40vw;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 16px;

            margin-left: fsize(100px);
        }
    }
}
