.project {
    .intro {
        position: relative;

        padding-top: fsize(110px);
        min-height: 100vh;
        min-width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            object-fit: cover;
            max-width: 49vw;
            max-height: 80vh;

            filter: drop-shadow(8px 8px 32px rgba(0, 0, 0, 0.14));
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .bio {
            margin-right: 10.5vw;
            align-self: center;

            h1 {
                font-size: fsize(62px);
                font-weight: 200;
                letter-spacing: 3px;
                b {
                    font-weight: 700;
                }

                padding: 0;
                margin: 0;

                overflow: hidden;
            }

            p {
                font-size: fsize(17px);
                font-weight: 300;
                width: fsize(640px);
                margin-top: fsize(28px);

                line-height: 30px;

                overflow: hidden;

                b {
                    font-weight: 600;
                }
            }

            .arrow {
                display: flex;
                flex-direction: row;
                justify-content: center;

                transform: scale(0.85);
                margin-top: fsize(50px);
            }
        }

        .sideLine {
            position: absolute;
            right: calc($pageMargins - 0.5em);
            bottom: calc(100vh - fsize(120px) - 80vh);

            p {
                transform: rotateZ(-90deg);
                margin: 0;
                padding: 0;
            }
        }
    }

    .description {
        margin-top: fsize(60px);
        margin-left: $pageMargins;
        margin-right: $pageMargins;

        h1 {
            font-weight: 800;
            font-size: fsize(44px);
            line-height: 75px;

            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            .line {
                width: fsize(120px);
                height: 1px;

                border: 4px solid black;
                border-radius: 8px;

                display: inline-block;
                margin-left: fsize(12px);
            }

            .break {
                flex-basis: 100%;
                display: inline-block;
            }
        }

        .bio {
            margin-top: fsize(40px);
            margin-bottom: fsize(200px);

            .wordle {
                margin-bottom: calc(fsize(330px) + 14vh);
            }

            .carousel-root {
                max-width: 50vw;
                max-height: 60vh;

                z-index: 100;
                float: left;

                margin-right: fsize(55px);
                margin-bottom: fsize(14px);

                .slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    border-radius: 8px;
                }

                img {
                    width: 100%;
                    max-height: 52vh;

                    object-fit: contain;
                    border-radius: 8px;
                    border: 3px solid rgba(0, 0, 0, 0.105);
                    background-color: rgba(0, 0, 0, 0.636);
                }

                button {
                    cursor: none;
                }

                .control-next {
                    padding-right: fsize(5px);
                    background-color: transparent;
                    opacity: 0.6;

                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
                .control-next::before {
                    margin-left: 25%;
                    transform: scale(1.5);

                    padding-right: fsize(10px);
                }
                .control-next:hover {
                    opacity: 1;
                }
                .control-next:focus {
                    opacity: 0.6;
                }
                .control-prev {
                    padding-right: fsize(5px);
                    background-color: transparent;
                    opacity: 0.6;

                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                .control-prev::before {
                    margin-left: 25%;
                    transform: scale(1.5);

                    padding-left: fsize(10px);
                }
                .control-prev:hover {
                    opacity: 1;
                }
                .control-prev:focus {
                    opacity: 0.6;
                }
            }
            .black .control-next::before {
                border-left-color: black;
            }
            .black .control-prev::before {
                border-right-color: black;
            }

            p {
                font-weight: 300;
                font-size: fsize(17px);
                line-height: 34px;
                text-align: justify;

                a {
                    text-decoration: underline;
                    cursor: none;
                }
            }

            .links {
                margin-top: 4vh;
                text-align: left;

                font-weight: 400;
                font-size: fsize(18px);
            }
        }
    }
}
