.footer {
    padding-bottom: fsize(140px);
    hr {
        width: calc(100vw - $pageMargins - $pageMargins);;
        margin: auto;
        margin-top: fsize(85px);
        margin-bottom: fsize(85px);

        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        width: calc(100vw - $pageMargins - $pageMargins);
        margin: auto;

        .contact {
            width: 30vw;
            h1 {
                font-size: fsize(33px);
                line-height: fsize(24px);
            }

            p {
                font-size: fsize(21px);
                font-weight: 300;
                line-height: fsize(22px);

                color: #a3a3a3;

                span {
                    color: black;
                }
            }
        }

        .madeWith {
            width: 38vw;

            h1 {
                font-size: fsize(33px);
                line-height: fsize(24px);
            }

            p {
                margin-top: fsize(30px);
                font-size: fsize(21px);
                font-weight: 300;
                line-height: fsize(22px);

                color: #a3a3a3;
            }
        }
    }
}
