.menuScreen {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;

    min-width: 100vw;
    min-height: 100vh;

    background-color: #151515;

    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-family: Asgard;
        font-size: fsize(48px);
        letter-spacing: 0.16em;

        color: white;

        overflow: hidden;
        margin: 1.5em;
        padding: 0.5em;

        div {
            margin-left: 1em;
            margin-right: 1em;
        }

        svg {
            opacity: 0;
            transition: 0.5s;
        }
        svg:nth-child(3) {
            transform: rotate(180deg);
        }
    }

    h1:hover {
        svg {
            opacity: 1;
        }
    }
}
