.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    position: absolute;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: $pageMargins;
    padding-right: $pageMargins;

    z-index: 2;

    .icon {
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.6em;

        .top {
            font-weight: 300;
        }

        .bot {
            font-weight: 600;
        }
    }

    .menu {
        display: flex;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        font-weight: 200;
        font-size: 19px;
        line-height: 26px;

        p {
            display: inline-block;
            margin-left: 0.6em;
        }

        .menuIcon {
            svg {
                height: 44px;
            }
        }
    }

    transition: background-color 0.4s, box-shadow 0.4s;
}

.navbar.bg {
    // &::before {
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     top: 0;
    //     left: 0;
    //     right: 0;

    //     width: 100vw;
    //     height: 100%;

    //     mask: linear-gradient(180deg, rgba(0,0,0,1) 80%, rgba(0, 0, 0, 0) 100%);
    //     background-color: rgba(255, 255, 255, 1);
    // }
    
    background-color: rgba(255, 255, 255, 0.95);
}

.navbar.white {
    z-index: 2;

    color: white;
    background-color: transparent;
}
