
.socialMedia {
    position: absolute;
    left: $pageMargins;
    top: 50%;
    transform: translateY(-50%);

    height: 40vh;
    width: 4vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    a {
        transform: scale(0.7);
        transition: 0.4s;

        &:hover {
            margin-left: 0.8vw;
        }
    }
}