@import "./misc/reset.scss";

// Laptops
@media screen 
  and (min-device-width: 1200px) { 
    $screenSize: 2000px;

    @import "imports.scss";
}

// Tablets
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1199px)  { 
    $screenSize: 1000px;

    @import "imports.scss";
}

// Phones
@media screen 
  and (max-device-width: 767px)  { 
    $screenSize: 480px;

    @import "imports.scss";
}

html,
body {
  position: relative;

  min-height: 100%;
  font-family: "Argentum Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: none;
}

body {
  height: 100%;
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

* {
  box-sizing: border-box;

  &::selection {
    color: rgb(12, 12, 216);
    background-color: transparent;
  }
}

img {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
}

.overlay {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;

  height: 200vh;

  background: url("/images/noise.png") repeat;
  opacity: 28%;

  pointer-events: none;

  z-index: 100;
}
