.app-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    position: relative;

    min-height: 100vh;
    min-width: 100vw;

    font-weight: 200;
    font-size: fsize(18px);

    .sectionLabel {
        position: absolute;

        left: $pageMargins;
        bottom: 1em;

        span {
            font-weight: 200;
            font-size: fsize(14px);
        }
        b {
            font-weight: 400;
            font-size: fsize(18px);
        }
    }
}
